*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(233, 230, 230);
}

#cabecalho{
    margin-left: 40px;
}


#principal{
    width: 1050px;
    /* aumentar o tamanho da pagina quando tiver mais episodios */
    height: 1300px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: auto;
}

#intro{
    height: 50px;
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 0px;
}

/* lista de links para os podcats*/

.podcasts{
    width: 850px;
    margin-top: 0px;
    margin-left: 80px;
    margin-right: auto;
    background-color: rgba(223, 223, 223, 0.5);
    border-radius: 10px;
    display: table;
}

.podcasts > h4 {
    margin-left: 5px;
}

.podcasts > ul {
    margin-left: 5px;
    list-style-type: none;
}


/* div da logo de episodios*/
#episodios-logo{
    height: 120px;
    margin-left: 80px;
    margin-bottom: 0px;
}


/*conteudo do site*/

.episodios{
    height: 300px;
    width: 850px;
    /*background-color: rgb(182, 182, 182);*/
    margin-left: 80px;
    margin-right: auto;
    margin-top: 0px;
    display: flex;

}

/*essa tag ".episodios > div" informa que todas as divs dentro de 
episodios vao se comportar da mesma forma*/
.episodios > div{
    /*background-color: white;*/
    height: 300px;
    width: 400px;
        margin: 10px;
    flex-grow: 1;
}

.episodios > div > img{
    display: block;
    width: 400px;
    height: 220px;
    margin: auto;
    border-radius: 15px;
}

.episodios > div > a{
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    color: black;
}
