body{
    font-family: 'Roboto Mono', monospace;
}

.elemtnos_centro {
    width: 90%;
    height: 100%;
    margin: 15px;
    margin-left: auto;
    margin-right:auto;
}

.intro{
    margin-top: 70px;
    width: 80%;
    height: 100%;
    margin-left:auto;
    margin-right:auto;
}

.podcasts{
    /*background-color: #C4C4C460;*/
    align-content: flex-start;
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 0px;
}

.logo_episodios{
    margin-top: 25px;
    width: 80%;
    height: 100%;
    margin-left:auto;
    margin-right:auto;  
}

/* div de todos os episodios */
.episodios{
    border: 3px;
    padding: 20px;
    min-width: 450px;
    min-height: 310px;
    float: left;
    display: flex;
    height: auto;
    overflow: hidden;
    position: relative;
}

/* div o episodio especifico */
.epi{
    margin-left: 50px;
}

.epi-img{
    height: auto;
    width: 100%;
}
